
body {margin: 0px auto;}
html, body, td, th {font-family:"Microsoft YaHei";}
a:focus,input,textarea{outline: none; }
a:hover,a:focus{ text-decoration:none;}
ul{ margin: 0px; padding: 0px; list-style: none;}

@media (min-width: 1200px) {
	.container {
	  width: 1200px;
	  padding-left:0px; padding-right:0px;
	  max-width: none !important;
	}
}

a{ color:#222;}

@media (min-width: 1200px) {
.header .row{ width:1200px; margin:0px auto;}
	.header .row .col-lg-6{ padding-left:0px;padding-right:0px;}
}
@media (max-width: 1200px) {
	.header .row{ width:970px; margin:0px auto;}
	body{ overflow-x: hidden;}
}
@media (max-width: 992px) {
	.header .row{ width:750px; margin:0px auto;}
	body{ overflow-x: hidden;}
}
@media (max-width: 768px) {
	.header .row{ width:100%; margin:0px auto;}
	.logo{ width:100%;}
	body{ overflow-x: hidden;}
}

.header{ height:170px; background:#f8f8f8; border-bottom:#c9c9c9 1px solid; padding-top:20px;}
	.paddingtop10{ padding-top:12px; padding-right:0px;}
	.paddingtop20{ padding-top:20px; padding-left:0px;}
	.btn-primary{ background:#0681bb; padding-left:20px; padding-right:20px;}
	.po{ position:relative;}
	.btn-search{ padding:6px 10px; position:absolute; right:0px; top:13px;}
@media (max-width: 992px) {
	.header{ height:auto;}
}
@media (max-width: 768px) {
	.header{ height:auto;}
	.po{ position:relative; padding-left: 0px;}
	.paddingtop10{ padding-left: 0px;}
}

.nav{ padding-right:0px;}	
.nav ul li{ width:14.2857%; float:left; display:block; text-align:center;}
	.nav ul li a{ padding:18px 0px; display:block;}
	.nav ul li.active a,.nav ul li:hover a{ border-bottom:#006042 5px solid;}
	.nav ul li h1{ font-size: 14px; margin: 0px; line-height: 20px; }
@media (max-width: 768px) {
	.nav ul li{ width:100%;}
	.nav ul li.active a,.nav ul li:hover a{ border-bottom:none;}
	.btn-primary{ width:100%;}
}
	
#owl-demo{ padding-top:20px;}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-theme .owl-controls{
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 50px 10px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #000;
	filter: Alpha(Opacity=80);/*IE7 fix*/
	opacity: 0.8;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=80);/*IE7 fix*/
	opacity: 0.8;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #000;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(https://eib-bureau.com.hk/css/AjaxLoader.gif) no-repeat center center
}

.owl-theme .owl-controls .owl-buttons .owl-prev{ position:absolute; top:31%;left:-5px; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-size:30px;}
.owl-theme .owl-controls .owl-buttons .owl-next{ position:absolute; top:31%;right:-5px;font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-size:30px;}
.owl-theme .owl-controls .owl-pagination{ position:absolute; bottom:0px; left:50%; margin-left:-39px;}
.owl-theme .owl-controls.clickable .owl-page:hover span,.owl-theme .owl-controls .owl-page.active span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	 background:#fff;
}
@media (max-width: 768px) {
	.owl-buttons{ display:none;}
}

.box{ width:100%; border:#085e87 3px solid; padding:20px; margin-top:40px; line-height:24px; position:relative;}
	.box .title{ background:#fff; padding:10px; position:absolute; top:-30px; left:7%; font-size:30px; color:#085e87;
width:86%; text-align: center;
	}
	.box .title h1{ font-size:30px;margin:0px;}
	.box  .title117{margin-left:0px;width:230px; margin-left:33.5%;top:-30px;}

.thumb{ margin-top:30px;}
.thumb ul li{ width:20%; float:left; padding-left:15px; padding-right:15px;}
	.thumb ul li:first-child{ padding-left:0px;}
	.thumb ul li:last-child{ padding-right:0px;}
	.thumb ul li a{ clear:both; display:block; color:#222;}
	.thumb ul li .img{ border-top:#006042 3px solid;}
		.thumb ul li .img img{ width:100%; height: 160px;}
	.thumb ul li .tit{ margin-top:20px; }
	.thumb ul li .span{ color:#999; margin-top:15px; clear:both; line-height:24px;}
@media (max-width: 768px){
	.thumb ul li{ width:50%; height: 290px; overflow: hidden; margin-bottom: 15px;}
	.box .title{ font-size: 18px;width:70%;left:50%; top:-23px; width:200px; margin-left:-100px;}
	.box .title h1{font-size: 18px; margin:0px;}
	.box .title117{margin-left:0px;width:150px; margin-left:0%;left:25%; top:-20px; margin-left: -75px;
    left: 50%;}
}

.media{ border-bottom:#ccc 1px solid; padding-bottom:15px;}	
	.media:last-child{ border-bottom:none; padding-bottom:0px;}
.media .media-left a img{ border:#ccc 1px solid;}
.media .media-body{color:#999;}
.media .media-body .media-heading{ font-weight:bold;}
@media (max-width: 768px) {
	.media .media-body .media-heading{ padding-top:2px;}
}

.footer{ background:#1f1f1f; margin-top:80px; padding-top:40px; padding-bottom:40px;}
	@media (min-width: 1200px) {
		.footer .row{width:1200px; margin:0px auto;}
	}
	.footer .row .col-lg-2{ color:#d2d2d2; font-size:24px;}
	.footer .row .col-lg-2 a{ color:#d2d2d2;font-size:14px;}
	.blue{ color:#0681bb; font-size:18px;}
@media (min-width: 1200px) {
	.copy .row {width:1200px; margin:0px auto;}
}
.copy{ color:#959595; padding:20px 0px; background:#353535; text-transform:uppercase;}
@media (max-width: 768px) {
	.footer .row .col-lg-2,.blue,.copy .row .col-xs-12{ text-align: center;}
}


.bread { padding:10px 20px; border:#006042 1px solid; margin-top:30px; margin-bottom:10px;}
.content p .fa{ color:#b5b5b5;}
.content .key a,.content .key{ color:#0681bb; line-height:24px;}
	.content .key  span{ margin-bottom:20px; display:block; float:left;}
	.content .con p img{ max-width:100%; margin:0px auto; display:block; margin-top:25px; margin-bottom:25px;}
	.blue-title{ font-size:24px; color:#0681bb; margin-top:50px;margin-bottom:30px;}
	.jxwz ul{ margin-left:-15px; margin-right:-15px;}
	.jxwz ul li{ width:20%; float:left; padding-left:15px; padding-right:15px;display:block; margin-bottom:30px;}
			.jxwz ul li .jxwz-img img{width:100%; display:block; border:#ccc 1px solid;}
			.jxwz ul li .jxwz-title{ color:#0681bb; clear:both; line-height:24px; margin-bottom:15px; margin-top:5px; display:block;    height:48px; overflow:hidden;}
			.jxwz ul li span{ font-size:12px; color:#999; clear:both; display:block;line-height:20px;}
.content .aa img{width:100%; border:#ccc 1px solid;}
.content .aa { padding-bottom:30px;}
.content .col-lg-4{ padding-top:20px;}
.right-title{ width:100%; clear:both; border-bottom:#006042 5px solid;}
	.right-title .pull-left{ font-size:18px;}
	.right-title .pull-right a{ color:#0681bb;}
	.content .col-lg-4 .media{ border:none; margin-top:20px; padding-bottom:0px;}
	.content .col-lg-4 .media .media-heading{ font-weight:inherit; line-height:20px;}
	.content .col-lg-4 .media .media-body{ font-size:12px;}

@media (max-width: 1200px) {
	.content .col-md-8{ padding-left: 0px;}
	.content .col-md-4{ padding-right: 0px;}
}

@media (max-width: 992px) {
	.jxwz ul li{ width:33.33333333333333333%;}
	.content .col-sm-8{ padding-left: 0px;}
	.content .col-sm-4{ padding-right: 0px;}
}
@media (max-width: 768px) {
	.bread { margin: 15px 15px 0px 15px;}
	.content h2{ margin-bottom: 15px;}
	.jxwz ul li{ width:50%;}
	.content .col-xs-12{ padding-left: 15px;}
	.content .col-xs-12{ padding-right: 15px;}
	.jxwz ul li span{ height:100px; overflow:hidden;}
	.content .con p img{ width:100%;}
}

.navbar-default {
	border:none
}
.index_news6_last{display:none}
@media (max-width: 768px) {
	.index_news6_last{display:block;}
}
.button-link-wrapper{
	padding:5px;
	display: inline-block;
}
.button-link{
	display: inline-block;
	/*font-family: "Roboto", Sans-serif;*/
	font-size: 15px;
	font-weight: 500;
	background-color: #618FCE;
	color:#fff;
	padding: 10px 10px 10px 10px;
	border-radius: 6px;
	line-height: 1;
}
.button-link:hover{
	color:#fff;
}

.joinchat {
	position: fixed;
	display: none;
	z-index: 9000;
	right: 20px;
	bottom: 20px;
	font: normal normal normal 16px/1.625em -apple-system,blinkmacsystemfont,"Segoe UI",roboto,oxygen-sans,ubuntu,cantarell,"Helvetica Neue",sans-serif;
	letter-spacing: 0;
	animation: joinchat_show .5s cubic-bezier(.18,.89,.32,1.28) 10ms both;
	transform: scale3d(0,0,0);
	transform-origin: calc(60px/-2) calc(60px/-4);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	touch-action: manipulation;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgb(0 0 0/0);
}
.joinchat--show {
	display: block;
	transform: scaleX(1);
}
.joinchat__button {
	/*position: absolute;*/
	z-index: 2;
	/*bottom: 8px;*/
	/*right: 8px;*/
	/*height: 60px;*/
	/*min-width: 60px;*/
	/*max-width: 95vw;*/
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background: #25d366;
	color: inherit;
	border-radius: calc(60px/2);
	box-shadow: 1px 6px 24px 0 rgba(7,94,84,.24);
	cursor: pointer;
	transition: background-color .2s linear;
}
.joinchat__button:hover {
	background: #128c7e;
}
.joinchat__button:active {
	background: #128c7e;
	transition: none;
}
.joinchat__button__open {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: rgb(0 0 0/0) url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 0 1-13.754 2.299l-5.814.735a.392.392 0 0 1-.438-.44l.748-5.788A12.002 12.002 0 0 1 3.517 3.517zm3.61 17.043.3.158a9.846 9.846 0 0 0 11.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 0 0-1.747 11.554l.16.303-.51 3.942a.196.196 0 0 0 .219.22l3.961-.501zm6.534-7.003-.933 1.164a9.843 9.843 0 0 1-3.497-3.495l1.166-.933a.792.792 0 0 0 .23-.94L9.561 6.96a.793.793 0 0 0-.924-.445 1291.6 1291.6 0 0 0-2.023.524.797.797 0 0 0-.588.88 11.754 11.754 0 0 0 10.005 10.005.797.797 0 0 0 .88-.587l.525-2.023a.793.793 0 0 0-.445-.923L14.6 13.327a.792.792 0 0 0-.94.23z'/%3E%3C/svg%3E") 50% no-repeat;
	background-size: 60%;
	overflow: hidden;
}
.joinchat__tip {
	white-space: nowrap;
	font-size: 14px;
	font-weight: bold;
	color:#085e87;
}
@media (max-width: 480px), (orientation: landscape) and (max-height: 480px){
	.joinchat {
		right: 20px;
		bottom: 20px;
	}
	.joinchat--show {
		display: block;
		transform: scaleX(1);
	}
}
